<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Catering</title>
		
		<!-- Tab Icon -->
		<link rel="icon" href="/images/static/icon/tabIcon.png">
		
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/indexStyle.css">
		<link rel="stylesheet" href="/css/baseStyle.css">
		
		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
		
		
	</head>
  
    <body>
	    <!-- Navbar Fragment -->
		<header th:replace="fragments/base.html :: navbar"></header>
		
		<!-- Carousel -->
		<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
		  
			<ol class="carousel-indicators">
		  		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		    </ol>
		  
			<div class="carousel-inner">
			    
			    <!-- Carousel Item -->
			    <div class="carousel-item active img-container " id="img1" >
			    	
			    	<div class="container carousel-box">
			    		<h1>Professionalità</h1>
			    		<h3>Ci impegnamo a garantire il miglior servizio per i nostri clienti</h3>
			    	</div>
			    </div>
			    
			    <!-- Carousel Item -->
			    <div class="carousel-item img-container" id="img2">
			    	
			    	<div class="container carousel-box">
			    		<h1>Affidibilità</h1>
			    		<h3>I nostri clienti non rimangono mai delusi!</h3>
			    	</div>
			    </div>
			    
			    <!-- Carousel Item -->
			    <div class="carousel-item img-container" id="img3">
			    	
			    	<div class="container carousel-box">
			    		<h1>Immediatezza</h1>
			    		<h3>Sei pronto? richiedici ora un preventivo gratuito! </h3>
			    		<a href="#" class="btn btn-lg btn-primary">Prenota</a>
			    	</div>
			    </div>
			    
		  	</div>
		  
		  <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  
		  <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
		
		</div>
	
		
		<div class="container overview">
			<div class="row">
				<!-- Chef Content -->
	      		<div class="col-lg-4">
	        		<img src="/images/static/mainPage/chef.jpg" width="140" class="img-fluid rounded-circle"/>
	        		<h2>Chef</h2>
	        		<h5 class="text-muted">Selezioniamo i nostri chef con processi rigorosi, prediligendo grandi nomi.</h4>
	        		<p><a class="btn btn-secondary" href="/chef/home">View details &raquo;</a></p>
	      		</div>
	      		<!-- Buffet Content -->
	      		<div class="col-lg-4">
	        		<img src="/images/static/mainPage/buffet.jpg" width="140" class="img-fluid rounded-circle"/>
	        		<h2>Buffet</h2>
	        		<h5 class="text-muted">Realizziamo buffet originali e personalizzabili per ogni occasione ed esigenza</h4>
	        		<p><a class="btn btn-secondary" href="/buffet/home">View details &raquo;</a></p>
	      		</div>
	      		<!-- About Us Content -->
	      		<div class="col-lg-4">
	        		<img src="/images/static/mainPage/aboutUs.jpg" width="140" class="img-fluid rounded-circle"/>
	        		<h2>Chi Siamo</h2>
	        		<h5 class="text-muted">La nostra attività vanta più di trenta anni di espreienza nel settore, durante i quali abbiamo sviluppato una reputazione solida</h5>
	      		</div>
	  
	    	</div>
	    	
	    	<hr class="featurette-divider">
	    	
	    	<!-- General Info -->
		    <div class="row featurette">
		      <div class="col-md-8">
		        <h2 class="featurette-heading">I nostri fornitori. <span class="text-muted">I migliori sul mercato.</span></h2>
		        <p class="lead">Selezioniamo i nostri fornitori con rigore, prestando massima attenzione ai più alti standard alimentari, qualitativi e igenici.</p>
		      </div>
		      <div class="col-md">
		        <img src="/images/static/mainPage/mainPage4.jpg" width="300" class="img-fluid"/>
		      </div>
		    </div>
		    
		    <hr class="featurette-divider">
		
			<!-- General Info -->
		    <div class="row featurette mb-4">
		      <div class="col-md-8 order-md-2">
		        <h2 class="featurette-heading">Il cibo è prezioso per noi. <span class="text-muted">Non lo sprechiamo!</span></h2>
		        <p class="lead">Alla fine di ogni evento, quando possibile, diamo il cibo avanzato alle associazioni locali che si occupano di darlo ai meno fortunati. In questo modo proteggiamo l'ambiente e la comunità.</p>
		      </div>
		      <div class="col-md order-md-1">
				<img src="/images/static/mainPage/mainPage5.jpg" width="300" class="img-fluid"/>
		      </div>
		    </div>   	
		
		</div>
		
		<!-- Footer -->
		<footer th:replace="fragments/base.html :: footer"></footer>
		
	    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	  
    </body>
</html>

