<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(title)">
			<!-- Required meta tags -->
			<meta charset="UTF-8" />
			<title>Catering</title>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/baseStyle.css">
	</head>
	<body>
	
		<!-- Navbar Fragment -->
		<header th:fragment="navbar">
			<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
			  
			
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon" ></span>
			  </button>
			  
			    
			  
			
			  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
			  
			     
			      <a class="navbar-brand" href="#">
				  		<img src="/images/static/icon/menu.png" width="40" class="img-fluid"/>
				  	</a>	
			      
			      <!-- User Things -->
			      <div sec:authorize="hasAuthority('DEFAULT')">
			      		<ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/}"><span>Home</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/profile}"><span>Profile</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link" th:href="@{/logout}"><span>Log Out</span></a>
					      </li>
				      	</ul>
			      </div>
			      
			      <div sec:authorize="hasRole('USER')">
			      		<ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/}"><span>Home</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link" th:href="@{/logout}"><span>Log Out</span></a>
					      </li>
				      	</ul>
			      </div>
        		  
        		  <!-- Admin Things -->
        		  <div sec:authorize="hasAuthority('ADMIN')">
        		  		<ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/}"><span>Home</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/profile}"><span>Profile</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/admin/promote}"><span>Promote Admin</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link" th:href="@{/logout}"><span>Log Out</span></a>
					      </li>
				      	</ul>
        		  </div>
        		  
        		  <!-- Authenticated User things -->
			      <div sec:authorize="!isAuthenticated()">  
				      	<ul class="navbar-nav">
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/}"><span>Home</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link mr-5" th:href="@{/login}"><span>Log In</span></a>
					      </li>
					      
					      <li class="nav-item">
					        <a class="nav-link" th:href="@{/register}"><span>Sign Up<span></a>
					      </li>
				      	</ul>
			      </div>
			
			  
			  </div>
			</nav>		  
		</header>
		
		<footer th:fragment="footer">
				<div class="container-fluid card-footer text-muted">
				
					<div class="row">
						<div class="col">
							<div class="col company-name text-center">Catering S.r.l</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<p class="text-center">&copy;Created By @Simone Albero: Esame Sistemi Informativi su Web</p>
						</div>
	      			</div>
	      			
	      			<hr class="featurette-divider">
	      			
	      			<div class="row">
						<div class="col">
							<p class="float-right"><a href="#" class="text-dark">Back to top</a></p>
						</div>
	      			</div>
	      			
				</div>
				
		</footer>
		
	</body>
</html>



