<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>Piatti</title>
</head>
<body>
	<h4>Elenco Piatti</h4>
	<ul>
		<li th:each="dish : ${dishes}">
		<div>
			<a th:href="@{'/dish' + '/' + ${dish.id}}" th:text="${dish.name}">Delizie Di Mare</a>
			<a th:href="@{'/dish/delete' + '/' + ${dish.id}}" >Rimuovi</a>
			<a th:href="@{'/dish/modify' + '/' + ${dish.id}}" >Modifica</a>
			<a th:href="@{'/ingradient/form' + '/' + ${dish.id}}" >Aggiungi Ingrediente</a>
			<a th:href="@{'/ingradient/' + ${dish.id} + '/all'}" >Visualizza Ingredienti</a>
		</div>
		</li>
	</ul>
	<div><a href="/default">Home</a></div>
</body>
</html>
