<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>Inserimento Piatto</title>
</head>
<body>
	<form th:action="@{/dish/add}" method="post" th:object="${dish}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{buffet}">
		<div>Nome: <input type="text" th:field="*{name}"></div>
		<div><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></div>
		<div>Descrizione: <input type="text" th:field="*{description}"></div>
		<div><span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span></div>
		<div>Immagine: <input type="file" name="file"></div>
		<div><button type="submit">Conferma</button></div>
	</form>
</body>
</html>