<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>Buffets</title>
</head>
<body>
	<h4>Elenco Buffet</h4>
	<ul>
		<li th:each="buffet : ${buffets}">
		<div>
			<a th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="${buffet.name}">Delizie Di Mare</a>
			<a th:href="@{'/buffet/delete' + '/' + ${buffet.id}}" >Rimuovi</a>
			<a th:href="@{'/buffet/modify' + '/' + ${buffet.id}}" >Modifica</a>
			<a th:href="@{'/dish/form' + '/' + ${buffet.id}}" >Aggiungi Portata</a>
			<a th:href="@{'/dish/' + ${buffet.id} + '/all'}" >Visualizza Portate</a>
		</div>
		</li>
	</ul>
	<div><a href="/default">Home</a></div>
</body>
</html>
