
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
header{
	position: absolute;
	width: 100%;
}

.navbar{
	z-index: 2;
	display: flex;
}

.nav-item .nav-link{
	color: WhiteSmoke !important;
	font-size: 1.3rem;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 3px;
	margin-top: 8px;
}


.nav-item a:hover{
	color: DarkGray !important;
	border-left: 2px solid DarkGray;
	border-right: 2px solid DarkGray;
	border-radius: 8px;
}

.bi-basket2-fill{
	color: WhiteSmoke;
	width: 2rem;
	margin-right: 1rem;
}

.bi-basket2-fill :hover{
	color: silver;
}

/* RESPONSIVE
------------------------- */
@media (max-width: 991px) {
	
	.nav-item .nav-link{
		padding-left: 1%;
	}
}

