/* GLOBAL STYLES
-------------------------------------------------- */

body{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'DM Serif Display', serif;		
	font-size: 4rem;
	text-align: center;
}

h3{
	font-family: 'DM Serif Display', serif;	
	font-size: 2rem;
	font-weight: bold;
}

h2{
	font-family: 'DM Serif Display', serif;	
	font-size: 1.5rem;
	font-weight: bold;
}

h5{
	font-weight: bold;
}

/* CUSTOMIZE THE TITLE
-------------------------------------------------- */

.title-frame{
	display: flex;
}

.title{
	font-family: 'DM Serif Display', serif;		
	font-size: 4.5rem;
	font-weight: bold;
	color: white;
	text-align: center;
	align-self: center;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom: 3px solid #fff;
	
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
carousel{
	z-index: 1;
	width: 100%;
}

.carousel-item{
	height: 32rem;
	background:#777;
	position: relative;
	color: white;
}

.carousel-img{
	opacity: 0.6;
	width: 100%;
}

.img-container {
  height: 90vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-box {
	position: absolute;
	bottom: 43%;
	left: 5%;
	right: 5%;
	padding-left: 14%;
	padding-right: 20%;
	text-align: center;
}

/* CUSTOMIZE THE CARD
-------------------------------------------------- */

.card{
	border-radius: 20px;
	width: 20rem;
	height: 23rem;
}

.dish-img{
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
	height: 11rem;
}

/* CUSTOMIZE THE INFO
-------------------------------------------------- */
.img-thumbnail{
	border-radius: 20px;
	border: 0px;
}

/* RESPONSIVE
------------------------- */
@media (max-width: 991px) {
	
	.carousel-img{
		height: 100%;
	}
}

@media (max-width: 540px) {
	
	h1{
		font-size: 3rem;
	}
	
	h3{
		font-size: 1.5rem;
	}
	
	h4{
		font-size: 1.2rem;
	}
	
	.title{
		font-size: 3rem;
	}
}



