/* GLOBAL STYLES
-------------------------------------------------- */

body{
	font-family: 'Roboto', sans-serif;
}

h5{
	font-family: 'DM Serif Display', serif;	
	font-size: 1.8rem;
	font-weight: bold;
}


h1{
	font-family: 'DM Serif Display', serif;		
	font-size: 4rem;
	text-align: center;
}

/* CUSTOMIZE THE MAIN FRAME
-------------------------------------------------- */
.main-row{
	
	height: 90vh;
 	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)), url("/images/static/chefPage/chefPage1.jpg");
  	display: flex;
}

.title-frame{
	display: flex;
}

.title{
	font-family: 'DM Serif Display', serif;			
	font-size: 4.5rem;
	font-weight: bold;
	color: white;

	text-align: center;
	align-self: center;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom: 3px solid #fff;
	
}


/* CUSTOMIZE THE CARD
-------------------------------------------------- */

.card{
	border-radius: 20px;
	width: 20rem;
	height: 23rem;
}

.chef-img{
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

/* CUSTOMIZE THE INFO
-------------------------------------------------- */
.img-thumbnail{
	border-radius: 20px;
	border: 0px;
}



