/* GLOBAL STYLES
-------------------------------------------------- */

body{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'DM Serif Display', serif;		
	font-size: 4rem;
	text-align: center;
}

h3{
	font-family: 'DM Serif Display', serif;	
	font-size: 2rem;
	font-weight: bold;
}

h2{
	font-family: 'DM Serif Display', serif;	
	font-size: 1.5rem;
	font-weight: bold;
}

h5{
	font-weight: bold;
}

/* CUSTOMIZE THE TITLE
-------------------------------------------------- */

.title{
	position: absolute;
	
	font-family: 'DM Serif Display', serif;		
	font-size: 4.5rem;
	font-weight: bold;
	color: white;
	text-align: center;
	align-self: center;
	margin: 0.5rem 20rem ;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom: 3px solid #fff;
	
}


/* CUSTOMIZE THE MAINFRAME
-------------------------------------------------- */
.main-row{
	height: 90vh;
  	display: flex;
  	
}

.dish-img{
	width: 100%;
	opacity: 0.7;
}

/* CUSTOMIZE THE CARD
-------------------------------------------------- */
.card{
	border-radius: 20px;
	width: 20rem;
	height: 25rem;
}

.ingradient-img{
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
	height: 11rem;
}

.img-thumbnail{
	border-radius: 20px;
	border: 0px;
}


/* RESPONSIVE
------------------------- */
@media (max-width: 991px) {
	
	.carousel-img{
		height: 100%;
	}
}




