/* GLOBAL STYLES
-------------------------------------------------- */
body{
	background-color: rgb(255, 250, 250);
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'DM Serif Display', serif;
	font-size: 5rem;
}

h2{
	font-family: 'DM Serif Display', serif;	
	font-size: 3rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel{
	z-index: 1;
}

.carousel-item{
	height: 32rem;
	background:#777;
	position: relative;
	color: white;
}

.carousel-box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;	
	padding: 120px 50px;
}

.carousel-image{
	opacity: 0.6;
	width: fit-content;
}

.img-container {
  height: 90vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img1{
	background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)), url("/images/static/mainPage/mainPage1.jpg");
}

#img2{
	background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)), url("/images/static/mainPage/mainPage2.jpg");
}

#img3{
	background-image: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2)), url("/images/static/mainPage/mainPage3.jpg");
}

/* OVERVIEW CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.overview{
	margin-top: 3rem;
}


.overview .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.overview h2 {
  font-weight: 400;
}
.overview .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1.5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-family: 'DM Serif Display', serif;
}
