
/* CUSTOMIZE THE FORM
-------------------------------------------------- */
.login-page {
	height: 130vh;
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/static/loginPage/loginPage1.jpg");
	padding: 10%
}

.form {
  	position: relative;
  	background: #FFFFFF;
  	max-width: 700px;
  	margin: 0 auto 100px;
  	text-align: center;
  	border-radius: 12px;
}

.img-thumbnail{
	max-width: 150px;
	border-radius: 10px;
	border: 0px;
}

/* RESPONSIVE
------------------------- */
@media (max-width: 900px) {
	.login-page {
		height: 190vh;
		padding: 35% 10%;
	}
}

@media (max-width: 790px) {
	.login-page {
		height: 210vh;
		padding: 50% 10%;
	}
}

@media (max-width: 484px) {
	.login-page {
		height: 230vh;
		padding: 70% 10%;
	}
}

