<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Chef</title>
</head>
<body>
	<div>
		<h4>Dettagli chef:</h4>
		<div>
			<img th:if="${chef.img != null}" th:src="@{'/images/'+ ${chef.getDirectoryName()} + '/' + ${chef.img}}"></img>
			<div>Nome: <span th:text="${chef.name}">Paolo</span></div>
			<div>Cognome: <span th:text="${chef.surname}">Rossi</span></div>
			<div>Nazione: <span th:text="${chef.nation}">Italia</span></div>
		</div>
	</div>
	<footer>
		<a href="/default">Home</a>
	</footer>
</body>
</html>